<div class="card center bg-secondary">
  <div *ngIf="stocks.length<=0" class="card-item">
    No data to display
  </div>
  <div class="card-item" *ngFor="let stock of stocks">
    <div class="card-action"><a id="remove{{stock.symbol}}" (click)="removeStock(stock.symbol)"><i class="bi bi-x-circle"></i></a></div>
    <div class="hstack">
      <stock-info [data]="stock.info" class='item'></stock-info>
      <div class="vr vr-blurry"></div>
      <stock-quote [data]="stock.quote" class='item'></stock-quote>
      <div class="vr vr-blurry"></div>
      <stock-change [data]="stock.quote" class="item"></stock-change>
    </div>
    <div class="card-action">
      <a id="sentiment{{stock.symbol}}" [routerLink]="['/sentiment',stock.symbol]">Go to social sentiment details <i class="bi bi-chevron-double-right"></i></a>
    </div>
  </div>
</div>
