<div class="card center bg-secondary">
  <div class="card-item" *ngFor="let stock of Stocks">
    <div class="card-action"><a (click)="removeStock(stock.symbol)"><i class="bi bi-x-circle"></i></a></div>
    <div class="hstack">
      <stock-info [data]="stock.info" class='item'></stock-info>
      <div class="vr vr-blurry"></div>
      <stock-quote [data]="stock.quote" class='item'></stock-quote>
      <div class="vr vr-blurry"></div>
      <stock-change [data]="stock.quote" class="item"></stock-change>
    </div>
    <div class="card-action">
      <a>Go to social sentiment details <i class="bi bi-chevron-double-right"></i></a>
    </div>
  </div>
</div>
