<div class="card">
    <div class="card-body principale">
        <h6 class="card-subtitle text-muted">Today quotation</h6>
        <div class="card-text">
            Current price: {{data.currentPrice}} 
        </div>
        <div class="card-text">
            Opening price: {{data.openingPrice}}
        </div>
        <div class="card-text">
            Previous close Price: {{data.previousClosePrice}}
        </div>
        <div class="card-text">
            Lowest price: {{data.lowestPriceToday}}
        </div>
        <div class="card-text">
            Highest price: {{data.highestPriceToday}}
        </div>
    </div>
</div>
