.search {
    margin: 1.5rem;
    padding:1rem;
    border-radius: .3rem;   
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.info {
    color: darkgray;
}