.card {
    border:none;
    
}
.card-subtitle {
   border-bottom: solid 1px rgba(192, 192, 192, 0.493);
   padding:1rem;
}
.card-text {
    margin: 1.5rem;
    letter-spacing: 1px;
    font-size: 0.6rem;
    text-align: left;
    align-items: left;
    border-bottom: solid 1px rgba(192, 192, 192, 0.493);
}

.bi.big {
    font-size: 1.5rem;
    padding:1rem;
}